@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #00ffff url("../../img/pagina/fundo/fundo2.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    padding: 2px;
    text-align: center;
}

.corpo {
    max-width: 900px;
    padding: 10px;
    margin:10px auto;
    background: white;
    border-radius: 10px;
}

.corpo h2, .corpo h3, .corpo h1 {
    font-size: 35px;
    padding: 20px 0px;
    font-family: 'Boogaloo', cursive;
}

.corpo h1{
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    font-variant: small-caps;
}
.corpo h1::first-letter, span#ces{
    font-size: 90px;
}

.corpo h3 {
    font-size: 27px;
}

.corpo p {
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.servico_prestado, .emp_parceiras{
    margin-left: 30px;
    list-style-type: square;
}

.emp_parceiras {
    list-style: decimal;
}

#mao{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    padding: 10px;
    vertical-align: middle;
    background-color: cyan;
    border-radius: 3px;
    box-shadow: 1px 1px 3px black;
}

#mao:hover {
    background-color: #03c4c4;
    box-shadow: 2px 2px 5px black;
}

#imageFrame {
    display: none;
    width: 100%;
    height: 500px;
}

.top{
    position: fixed;
    bottom: 60px;
    right: 10px;
    display: none;
    height: 30px;
    width: 40px;
    padding-top: 5px;
    text-align: center;
    background: #0145ff;
    border-radius: 2px;
}
.top a{
    color: #fff;
}

.top:hover, .top a:hover {
    background: #03c4c4;
    color: black;
}